@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 300;
  color: gray;
}

.header {
  top: 0;
  position: sticky;
}

.header-right-menu {
  top: 0;
  right: 0;
  position: sticky;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.header-content {
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: gray;
}

.profile-image {
  height: 40px;
  width: 40px;
  border: 2px solid grey;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

.footer {
  bottom: 0;
  width: 100%;
  position: absolute;
  border-bottom: 2px solid var(--primary-border);
  display: flex;
  flex-direction: column;
}

.footer-country {
  font-size: 18px;
  color: gray;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right-menu {
  bottom: 0;
  right: 0;
  position: sticky;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
  align-items: center;
}

.footer-content {
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: gray;
}

.footer-left-menu {
  bottom: 0;
  left: 0;
  position: sticky;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
}

.search-engine-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  position: relative;
  flex-direction: column;
}

.search-engine-search {
  min-width: 40%;
  border: 1px solid transparent;
  line-height: 40px;
  border-radius: 50px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  margin: 0 auto;
  width: 638px;
  width: auto;
}

.search-engine-input-box {
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  color: gray;
}

.mw-700 {
  min-width: 720px;
}

.mw-500 {
  min-width: 500px;
}

.mw-550 {
  min-width: 550px;
}

.mw-300 {
  min-width: 300px;
}

.mw-290 {
  min-width: 290px;
}

.sp:hover {
  box-shadow: rgba(72, 187, 120, 0.09) 0px 2px 1px,
    rgba(72, 187, 120, 0.09) 0px 4px 2px, rgba(72, 187, 120, 0.09) 0px 8px 4px,
    rgba(72, 187, 120, 0.09) 0px 16px 8px,
    rgba(72, 187, 120, 0.09) 0px 32px 16px;
  background: linear-gradient(to bottom right, #48bb78, #4299e1);
  border-color: transparent;
}

.search-engine-search-box-icon {
  min-width: 3.5%;
  color: gray;
  min-height: 20px;
  display: flex;
  flex-direction: row-reverse;
}
.mh-30 {
  min-height: 30px !important;
  margin-right: 10px;
}

.color-search {
  color: #4ad887;
}

.color-mic {
  color: #3daeaf;
}

.color-camera {
  color: #286be6;
}

.search-engine-select-box {
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  min-width: 30%;
  color: gray;
}

.search-engine-select-box:focus {
  outline: none;
  border: none;
}

.search-engine-select-box-button {
  color: gray;
  --tw-ring-opacity: 0;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  background: transparent;
  box-shadow: none;
}

.search-engine-select-box-button:hover {
  color: gray;
  --tw-ring-opacity: 0;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  background: transparent;
}

.search-engine-select-box-options {
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  font-weight: 500;
  min-width: 30%;
  color: gray;
}

.price-color{
  color: #4299e1 !important;
  font-weight: 500;
}

.flip-card {
  perspective: 1000px;
}

.flip-container {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card:hover .flip-container {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
}


.flip-card {
  perspective: 1000px;
  width: 250px; /* Set a fixed width for each card */
  height: 400px; /* Set a fixed height for each card */
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  z-index: 2;
}

.flip-card-back {
  transform: rotateY(180deg);
}